<div class="layout__right-sidebar-container">
    <div class="layout__right-sidebar">
        <div class="trends-for-you">
            <div class="trends-for-you__block">
                <div class="trends-for-you__heading">
                    Trends for you
                </div>
            </div>
            <div class="trends-for-you__block">
                <div class="trends-for-you__meta-information">
                    Trending in Germany
                </div>
                <div class="trends-for-you__trend-name">
                    #iPhone12
                </div>
                <div class="trends-for-you__meta-information">
                    155k Tweets
                </div>
            </div>
            <div class="trends-for-you__block">
                <div class="trends-for-you__meta-information">
                    Trending in Germany
                </div>
                <div class="trends-for-you__trend-name">
                    #AmazonPrimeDay
                </div>
            </div>
            <div class="trends-for-you__block">
                <div class="trends-for-you__meta-information">
                    Trending - Trending
                </div>
                <div class="trends-for-you__trend-name">
                    #autos
                </div>
                <div class="trends-for-you__meta-information">
                    2,800 Tweets
                </div>
            </div>
        </div>
        <div class="who-to-follow">
            <div class="who-to-follow__block">
                <div class="who-to-follow__heading">
                    Who to follow
                </div>
            </div>
            <div class="who-to-follow__block">
                <img class="who-to-follow__author-logo"
                     src="./images/profile-image-1.jpg" />
                <div class="who-to-follow__content">
                    <div>
                        <div class="who-to-follow__author-name">
                            Becki (& Chris)
                        </div>
                        <div class="who-to-follow__author-slug">
                            
                        </div>
                    </div>
                    <div class="who-to-follow__button">
                        Follow
                    </div>
                </div>
            </div>
            <div class="who-to-follow__block">
                <img class="who-to-follow__author-logo"
                     src="./images/profile-image-2.png" />
                <div class="who-to-follow__content">
                    <div>
                        <div class="who-to-follow__author-name">
                            Elixir Digest
                        </div>
                        <div class="who-to-follow__author-slug">
                            
                        </div>
                    </div>
                    <div class="who-to-follow__button">
                        Follow
                    </div>
                </div>
            </div>

            <div class="who-to-follow__block">
                <img class="who-to-follow__author-logo"
                     src="./images/profile-image-3.jpg" />
                <div class="who-to-follow__content">
                    <div>
                        <div class="who-to-follow__author-name">
                            Chris Martin
                        </div>
                        <div class="who-to-follow__author-slug">
                            
                        </div>
                    </div>
                    <div class="who-to-follow__button">
                        Follow
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>